* {
  all: unset;
}
window {
  background-color: rgba(37, 32, 32, 0.8);
  border-radius: 0 0 12px 12px;
  border: 2px solid rgba(31, 27, 27, 0.8);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
/*
*Compact widget
* */

window .compact-row {
  min-height: 34px;
  border-radius: 0 0 16px 16px;
  padding: 2px 0 0 2px;
}

.compact-title {
  margin: 2px 0 0 2px;
  color: #d9e1ff;
  font-size: 14px;
}
.cava-visualizer {
  font-size: 6px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.9);
}
/*
*Extend widget
* */

window .expanded-content {
  padding: 8px;
  background-color: rgba(37, 32, 32, 0.9);
  border-radius: 0 0 16px 16px;
  border: 2px solid rgba(31, 27, 27, 0.8);
  box-shadow: 0 0 8px rgba(221, 221, 221, 0.81);
}

.cover-art {
  min-width: 90px;
  min-height: 90px;
  border-radius: 18px;
  box-shadow: 0 0 6px rgba(221, 221, 221, 0.6);
}
/*
window .cover-fallback-icon {
  color: rgba(0, 255, 255, 0.25);
  font-size: 14px;
}*/

.music-info {
  border: 1px solid red;
}

window button {
  background: transparent;
  border: none;
  padding: 0px;
  border-radius: 8px;
  color: #ff00ff;
  font-size: 20px;
}

window button:hover {
  background-color: rgba(255, 0, 255, 0.1);
}

window button:active {
  background-color: rgba(255, 0, 255, 0.2);
}

window .cover-btn {
  border-radius: 8px;
}
/*window scale {
  min-width: 100px;
  min-height: 6px;
}*/

window scale trough {
  background-color: #222244;
  border-radius: 4px;
  min-height: 6px;
}

window scale highlight {
  background-color: #00ffff;
  border-radius: 4px;
}

window scale slider {
  background-color: #ff00ff;
  border-radius: 50%;
  min-width: 14px;
  min-height: 14px;
}

/* =========================================
   MPD PROGRESS WIDGET
========================================= */

window .progress-row {
  min-width: 200px;
}

window .time-current,
window .time-total {
  font-size: 10px;
  color: #ccccff;
  min-width: 34px; /* mantiene ancho estable */
}

window .progress-bar {
  min-width: 120px;
}

window .progress-time-row {
  font-size: 11px;
  color: #00ffff;
}

window .time-separator {
  opacity: 0.6;
}

.progress-time-row {
  font-size: 11px;
  color: #cccccc;
}

window .mpd-volume-slider {
  padding: 10px;
}
